#g2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: var(--coral-pink);
    padding: 0.5em 1em;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto;
    border: 3px solid #71a497;
    max-width: 350px;
    min-width: 350px;
    max-height: 750px;
    min-height: 750px;
}

.container-generala {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 0.05em;
    justify-content: center; 
    align-items: center; 
}

.dado {
    width: 50px; 
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.dados {
    background-color: #f000;
    border-radius: 1em;
    padding: 0.5em;
}

.dadosSeleccionados {
    background-color: var(--mint-green);
    border-radius: 1em;
    padding: 0.5em;
}

#roll-btn {
    display: block;
    width: 100%;
    padding: 0.625em;
    color: var(--dark-text);
    border: none;
    border: 3px solid var(--yellow);
}

#roll-btn:disabled {
    background: #D1D1D1;
  border-color: #A0A0A0;
  color: #888;
  box-shadow: 
      0 4px 0 #A0A0A0,
      0 1.5px 1.5px rgba(0, 0, 0, 0.1);
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
}

.modal-ganaste-generala,
.modal-ocupado-generala,
.modal-confirm-generala,
.modal-tachar-generala,
.modal-anotar-generala {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(237, 237, 237, 0.154); 
    backdrop-filter: blur(5px);
    padding: 1em;
    border-radius: 20px;
    z-index: 1000;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.modal-ganaste-generala .modal-content,
.modal-ocupado-generala .modal-content,
.modal-confirm-generala .modal-content,
.modal-tachar-generala .modal-content,
.modal-anotar-generala .modal-content {
    background-color: var(--cream-yellow); 
    border-radius: 20px;
    text-align: center;
    align-items: center;
    padding: 1em;
    width: 90%;
    max-width: 400px; 
    border: 2px solid var(--yellow);
    margin: 0 auto;
}

.markPlayerTurn {
    background-color: var(--yellow);
    font-weight: bold;
}

.markPlayerTurnHeader {
    background-color: var(--yellow);
    border-radius: 2em;
}

.potential-score {
    background-color: var(--mint-green);
}

table {
    margin: 0 auto; 
    border-collapse: collapse;
    border-radius: 2em;
    background-color: var(--cream-yellow);
    margin-top: 0.5em;
    max-width: 100px;
    min-width: 100px;
    max-height: 200px;
    min-height: 200px;
}

#confirm-add-x,
#cancel-add-x {
    padding: 0.7em;
}

#g2 .scores table {
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#g2 .scores table th,
#g2 .scores table td {
    padding: 0.15em 1.50em;
    border: 1px solid var(--coral-pink);
    color: var(--dark-text);
    font-size: 1.5em;
}

#g2 .scores table tbody tr td {
    color: var(--coral-pink);
    font-weight: bold;
}

#header-generala {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    margin-top: 0;
}

@media (orientation: landscape) {
    #g2 {
        padding: 0.3em 3em;
        max-width: 750px;
        min-width: 750px;
        max-height: 350px;
        min-height: 350px;
    }

    #generala {
        display: flex;
        flex-direction: row;
    }
    
    .container-generala {
        gap: 1em;
    }

    #roll-btn {
        width: 100%;
        margin: 0 1em;
    }

    .scores {
        width: 100%;
        text-align: left;
    }

    #g2 .scores table {
        margin: 1em;
    }

    #g2 .scores table th,
    #g2 .scores table td {
        padding: 0.1em 2em; 
        color: var(--dark-text);
        font-size: 1.2em;
    }

    #titulo-generala {
        margin-top: 2.5em;
    }
    
    #controles {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 1em;
    }
}