:root {
    --mint-green: #7DCEA0;
    --coral-pink: #F48B89;
    --cream-yellow: #FFE5B4;
    --dark-text: #333333;
}

#g2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Para centrar verticalmente */
    background-color: var(--coral-pink);
    padding: 0.5em 2em;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto; /* Centrado horizontal */
    width: 90%;
    margin: 0 auto;
    border: 3px solid #71a497;
}

.container-generala {
    display: grid; /* Más controlado que flexbox para esta estructura */
    grid-template-columns: repeat(3, 1fr); /* Tres columnas iguales */
    gap: 0.1em;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.dado {
    width: 50px; /* Ajusta según tu diseño */
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.dadosSeleccionados {
    background-color: var(--mint-green);
    border-radius: 1em;
    padding: 0.1em;
    border: 3px solid #71a497;
}

#roll-btn {
    display: block; /* Asegura que tome todo el ancho disponible */
    margin: 1em auto; /* Centra horizontalmente */
    width: 70%;
    padding: 10px;
    font-size: 16px;
    color: var(--dark-text);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 0.3em;
}

#g2 .scores table tbody tr {
    cursor: pointer;
}

#g2 .scores table tbody tr:last-of-type td{
    cursor: default;
}

.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 25px;
  }

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-ganaste-generala,
.modal-ocupado-generala,
.modal-confirm-generala,
.modal-tachar-generala,
.modal-anotar-generala {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--cream-yellow);
    padding: 1em;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}

#modal-ganaste .close,
#modal-ocupado .close,
#modal-confirm .close 
#modal-tachar .close,
#modal-anotar .close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

.markPlayerTurn {
    background-color: #FFD700; 
    font-weight: bold;
}

.potential-score {
    background-color: var(--mint-green);  /* Light green background */
    cursor: pointer;            /* Show clickable cursor */
    transition: all 0.3s;       /* Smooth transition for hover effect */
}

table {
    margin: 0 auto; /* Centra horizontalmente */
    border-collapse: collapse;
    border-radius: 2em;
    background-color: var(--cream-yellow);
    margin-top: 0.5em; /* Ajustar separación superior */
}

#g2 .scores table {
    width: 90%;
    font-size: 14px;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#g2 .scores table th,
#g2 .scores table td {
    padding: 0.03em 1.50em;
    border: 2px solid var(--coral-pink);
    color: var(--dark-text);
    font-size: 1.5em;
}

#g2 .scores table tbody tr td {
    color: var(--coral-pink);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
}