
#g1 {
    background-color: var(--coral-pink);
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 0.5em;
    padding-top: 0;
    border: 3px solid #71a497;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 0.625em;
    margin: 0.5em auto;
    width: max-content;
    background-color: var(--dark-text);
    padding: 0.625em;
    border-radius: 20px;
}

.celda {
    background-color: var(--cream-yellow);
    border: none;
    font-size: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 20px;
}

.celda:hover {
    background-color: var(--yellow);
}

.celdas-ganadoras {
    background-color: var(--mint-green) !important;
}

.modal-ganaste-tateti {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(237, 237, 237, 0.154); 
    backdrop-filter: blur(5px);
    padding: 1em;
    border-radius: 20px;
    z-index: 1000;
    text-align: center;
}

.modal-ganaste-tateti .modal-content {
    background-color: var(--cream-yellow); /* Fondo del modal */
    border-radius: 20px;
    text-align: center;
    align-items: center;
    padding: 1em;
    width: 90%;
    max-width: 400px; 
    border: 2px solid var(--yellow);
    margin: 0 auto;
}

#ganador-texto-tateti {
    font-size: 1.5em;
    color: var(--dark-text);
    margin: 1em 0;
}

.nodisp {
    display: none;
}

#jugador {
    font-weight: bold;
    color: var(--dark-text);
    font-size: 1.2em;
}

#header-tateti {
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;
    flex-direction: column;
}

#reset {
    font-size: 1.2em;
}

@media (orientation: landscape) {
        #g1 {
            padding: 0.1em 5em;
            font-size: 0.8em;
            border-radius: 15px;
            display:flex;
            flex-direction: row;
        }
    
        #tablero {
            grid-template-columns: repeat(3, 85px);
            grid-template-rows: repeat(3, 85px);
            gap: 10px;
            padding: 10px;
        }
    
        .celda {
            font-size: 2em;
            border-radius: 15px;
        }
    
        .modal-ganaste-tateti {
            padding: 1.5em;
            font-size: 1.2em;
        }
    
        #ganador-texto-tateti {
            font-size: 1.2em;
            margin: 0.5em 0;
        }
    
        #jugador {
            font-size: 1em;
        }
    
        #main {
            padding: 0.3em;
        }

        #header-tateti {
            flex-direction: column;
            padding: 2em;
        }

        #titulo-tateti {
            font-size: 2em;
        }

        #turno-tateti {
            font-size: larger;
        }
    }